.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


.filtros {
    display: flex;
    gap: 12px;
    /* Este valor puedes ajustarlo según necesites */
    justify-content: flex-end;
    /* margin-right: 240px; */
    margin-bottom: 40px;
    position: relative;
    right: 12.5%;
}

.categoryButton {
    color: #4db5ff;
    border: 1px solid #4db5ff;
    padding: 10px 18px;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.90rem;
    line-height: 1.25rem;
    font-family: 'Poppins', sans-serif;
}

.categoryButton:hover {
    background-color: #e5e7eb;
    color: rgb(63, 60, 60);
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ==============*/
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    .filtros {
        right: 7%;
    }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) ==============*/
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .filtros {
        right: 7%;
    }
    .categoryButton {
        font-size: 0.75rem;
        padding: 5px;
    }
}